<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Depends on class we could forward data into different appender e.g. FileAppender-->
    <appender name="PRINT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="print-service-log" level="INFO">
        <appender-ref ref="PRINT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.topmonks" level="debug" />

</configuration>
